.text-inset {
    box-shadow: inset 1px 1px 0px 0px #a9a596;
    background-color: #ece9d8;
    border-right: solid 2px #ffffff;
    border-bottom: solid 2px #ffffff;
    padding: 3px;
    width: fit-content;
}

ul {
    margin-top: 0px;
}

li {
    padding-top: 2px;
    padding-bottom: 2px;
    list-style-type: none;
    font-weight: bold;
    -webkit-margin-start: -36px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 10px;
}

li li {
    font-weight: normal;
    font-style: italic;
    padding-left: 16px;
    width: 100%;
    padding-right: 4px;
}

ul > details {
    font-weight: normal;
    font-style: italic;
    margin-left: -40px;
    padding-left: 16px;
    width: 100%;
    padding-right: 4px;
}

.buddy-list-container {
    flex-grow: 1;
    overflow: auto;
    box-shadow: inset 2px 2px 0px 0px #716f64;
    margin-top: 3px;
    background-image: url("../img/buddylist-bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
}

li.selected {
    background-color: yellow;
    outline: dotted 1px black;
}

li details {
    margin-bottom: 6px;
    margin-top: 6px;
}

.horizontal-button-container {
    padding: 2px 0px;
    align-self: center;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.horizontal-button-container-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}

.horizontal-button-container {
    background-color: #ece9d8;
}

.horizontal-button-container-container.bright-background {
    background-color: transparent;
    box-shadow: none;
    background-color: #fffbf0;
}

.horizontal-button-container-container.bright-background
    .horizontal-button-container {
    background-color: #fffbf0;
}

.ticker {
    border-top: solid thin #aca899;
    height: 34px;
    background-color: #fffbf0;
}
